.manrope-font {
    font-family: "Manrope", sans-serif;
  }
.arrow{
    border-radius: 50%;
    background-color: rgb(171, 239, 95);
    padding: 10px;
    margin: 0 10px;
}
/* Team Member */
.team img {
  width: 100%;
  transition: all .3s ease-in-out;
}
.team img:hover   {
  transform: scale(1.2);
}
